Draw.Filter_Water_Area=3
Draw.Filter_WaterLand_Area=3
Draw.Draw_WaterLand=True
Draw.Filter_Border_Line=3
Draw.Filter_Border_DrawLine=True
Draw.LineMethod_Railways_System=False
Draw.FontName_Cities=Microsoft Sans Serif
Draw.FontSize_Cities=8
Draw.FontNameBold_Cities=Arial
Draw.FontSizeBold_Cities=8
Draw.FontName_Sites=Microsoft Sans Serif
Draw.FontSize_Sites=8
Draw.FontNameBold_Sites=Microsoft Sans Serif
Draw.FontSizeBold_Sites=8
Draw.AutoRedraw_Cities=True
Draw.AutoRedraw_Labels=False
Draw.Draw_Railway_Spur=True
Draw.Draw_Railway_Lightrail=True
Draw.Draw_Railway_Unset=True
Draw.Draw_Railway_Tourism=True
Draw.Draw_Border=True
Draw.Border_Thickness=1
Draw.Border_Outlined=False
Draw.Draw_Landarea_Islands=True
Draw.Draw_Landarea_Islets=False
Draw.Scale_Position=RightTop
Draw.Legend_Position=RightTop
Draw.Scale_MarginX=15
Draw.Scale_MarginY=15
Draw.Legend_MarginX=15
Draw.Legend_MarginY=15
Draw.Scale_Km=5
Draw.Scale_Sections=5
Draw.Scale_Enabled=True
Draw.Scale_On_Top=False
Draw.Legend_Enabled=True
Draw.Legend_FontName=Microsoft Sans Serif
Draw.Legend_FontSize=8
DB.OutputWidth=1400
DB.OutputHeight=1206
DB.Separate_NonVisibleStations=True
Station.id=2488012710;display_name=Allach;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2488173642;display_name=Aubing;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-2;dotsize=3;english=False;rotation=1
Station.id=361452501;display_name=Bachern;valign=Bottom;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2512971339;display_name=Baierbrunn;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=2476438516;display_name=Baldham;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=3033367121;display_name=Berg am Laim;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-6;dotsize=3;english=False;rotation=1
Station.id=27563383;display_name=Buchenhain;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=2480024215;display_name=Dachau Bahnhof;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2479918440;display_name=Dachau Stadt;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-1;offsety=2;dotsize=3;english=False;rotation=0
Station.id=2504953877;display_name=Daglfing;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2478915914;display_name=Deisenhofen;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=4;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2470092007;display_name=Donnersbergerbrücke;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=2476467530;display_name=Dürrnhaar;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=2512923190;display_name=Ebenhausen-Schäftlarn;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=316921352;display_name=Eichenau;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=2504953878;display_name=Englschalking;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2468550865;display_name=Esting;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=-2;offsety=3;dotsize=3;english=False;rotation=0
Station.id=2478776540;display_name=Fasanenpark;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2499566263;display_name=Fasanerie;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=2478760680;display_name=Fasangarten;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2472263298;display_name=Feldkirchen;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=2499552238;display_name=Feldmoching;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2507006563;display_name=Freiham;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=-1;offsety=2;dotsize=3;english=False;rotation=0
Station.id=2478865164;display_name=Furth;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=4;dotsize=3;english=False;rotation=0
Station.id=58833375;display_name=Gauting;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=2;dotsize=3;english=False;rotation=0
Station.id=2507328818;display_name=Geisenbrunn;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=4;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=2507300536;display_name=Germering-\nUnterpfaffenhofen;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=7;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=2465664469;display_name=Gernlinden;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=-4;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=2473495234;display_name=Giesing;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=4;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2507403406;display_name=Gilching-Argelsried;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=2491251119;display_name=Gronsdorf;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=2515098593;display_name=Großhesselohe Isartalbahnhof;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2488296604;display_name=Grub;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=2515158509;display_name=Gräfelfing;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=2;dotsize=3;english=False;rotation=0
Station.id=3183204819;display_name=Gröbenzell;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5745901383;display_name=Gröbenzell;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=1;offsety=0;dotsize=3;english=False;rotation=0
Station.id=3256321608;display_name=Güterbahnhof München Süd;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2641017547;display_name=Haar;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=2470092008;display_name=Hackerbrücke;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=3189921361;display_name=Harras;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2507170368;display_name=Harthaus;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=3183012396;display_name=Hauptbahnhof (tief);valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2499689861;display_name=Heimeranplatz;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2472272777;display_name=Heimstetten;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=2468901140;display_name=Hirschgarten;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-2;dotsize=3;english=False;rotation=1
Station.id=2476467532;display_name=Hohenbrunn;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-2;dotsize=2;english=False;rotation=0
Station.id=1686221616;display_name=Hohenschäftlarn;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=2;dotsize=2;english=False;rotation=0
Station.id=2476467533;display_name=Höhenkirchen-Siegertsbrunn;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=2514399802;display_name=Höllriegelskreuth;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2504796336;display_name=Ismaning;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2515108020;display_name=Johanneskirchen;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2487884333;display_name=Karlsfeld;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=3;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2473297785;display_name=Karlsplatz;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=-2;offsety=3;dotsize=3;english=False;rotation=2
Station.id=2468901141;display_name=Laim;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-4;dotsize=3;english=False;rotation=1
Station.id=2468831364;display_name=Langwied;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=2488177587;display_name=Leienfelsstraße;valign=Bottom;halign=Left;visible=True;bold=False;outline=False;offsetx=5;offsety=1;dotsize=3;english=False;rotation=0
Station.id=2488169605;display_name=Leuchtenbergring;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=4;english=False;rotation=1
Station.id=2499490644;display_name=Lochham;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=2;dotsize=3;english=False;rotation=0
Station.id=2468655152;display_name=Lochhausen;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=2941687118;display_name=Marienplatz;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=-2;offsety=3;dotsize=3;english=False;rotation=2
Station.id=2500623009;display_name=Mittersendling;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2499632761;display_name=Moosach;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=3658965289;display_name=München Friedenheimer Brücke;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2470201868;display_name=München Hbf;valign=Top;halign=Right;visible=True;bold=True;outline=False;offsetx=-5;offsety=-7;dotsize=4;english=False;rotation=0
Station.id=3192902576;display_name=München Hbf Gleis 27-36;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=3192904758;display_name=München Hbf Gleis 5-10;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=401320821;display_name=München Nord Rbf;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10032286056;display_name=München Nord Rbf Ausfahrt;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10032290736;display_name=München Nord Rbf Betriebshof;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10032286053;display_name=München Nord Rbf Einfahrt;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10032286055;display_name=München Nord Rbf Einfahrt Moosach;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5323532506;display_name=München Nord Rbf Lassallestraße;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10032286050;display_name=München Nord Rbf Mitte;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10032286049;display_name=München Nord Rbf Mitte;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10032286054;display_name=München Nord Richtungsgruppe;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10032286051;display_name=München Nord Richtungsgruppe Mitte;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10032286052;display_name=München Nord Richtungsgruppe Süd;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2465304880;display_name=München Ost;valign=Bottom;halign=Right;visible=True;bold=True;outline=False;offsetx=2;offsety=1;dotsize=4;english=False;rotation=0
Station.id=5240895812;display_name=München-Freimann;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5341299864;display_name=München-Laim ICE WuA;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10045176465;display_name=München-Laim Ost;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=3181480102;display_name=München-Milbertshofen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2476438979;display_name=München-\nPasing;valign=Top;halign=Right;visible=True;bold=True;outline=False;offsetx=-4;offsety=-3;dotsize=4;english=False;rotation=0
Station.id=11093569640;display_name=München-Pasing Gbf;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=11093569637;display_name=München-Pasing Nord;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=11093569636;display_name=München-Pasing Ost;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=11093569639;display_name=München-Pasing Weiche 347;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=11093569641;display_name=München-Pasing Weiche 352;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=11093569638;display_name=München-Pasing West;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9592682234;display_name=München-Riem Ubf;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5174097443;display_name=München-Steinhausen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2507009458;display_name=Neuaubing;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=3;offsety=-3;dotsize=3;english=False;rotation=0
Station.id=2476467534;display_name=Neubiberg;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-4;dotsize=2;english=False;rotation=0
Station.id=2476467535;display_name=Neuperlach Süd;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-3;dotsize=2;english=False;rotation=0
Station.id=2699799616;display_name=Obermenzing;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=1;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2370556201;display_name=Oberschleißheim;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2468550866;display_name=Olching;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=-1;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=269220819;display_name=Olching Streckenwechsel 5561/5560;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=614982241;display_name=Olching Streckenwechsel 5561/5560;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2476467537;display_name=Ottobrunn;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-2;dotsize=2;english=False;rotation=0
Station.id=2476467539;display_name=Perlach;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2499382374;display_name=Planegg;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=2;dotsize=3;english=False;rotation=0
Station.id=2489108782;display_name=Poing;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=2488168555;display_name=Puchheim;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=2515066266;display_name=Pullach;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2472241431;display_name=Riem;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=2473550316;display_name=Rosenheimer Platz;valign=Bottom;halign=Center;visible=True;bold=False;outline=True;offsetx=-5;offsety=2;dotsize=3;english=False;rotation=2
Station.id=2411834909;display_name=Sankt-Martin-Straße;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2500671102;display_name=Siemenswerke;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2500732468;display_name=Solln;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=58822410;display_name=Starnberg;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=2497532275;display_name=Starnberg Nord;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2499299163;display_name=Stockdorf;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=2478817175;display_name=Taufkirchen;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2491219767;display_name=Trudering;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=2515107583;display_name=Unterföhring;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2478799738;display_name=Unterhaching;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2488012895;display_name=Untermenzing;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2370556367;display_name=Unterschleißheim;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2476438517;display_name=Vaterstetten;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=2499527320;display_name=Westkreuz;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-2;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=2476455538;display_name=Wächterhof;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=2473615158;display_name=Isartor;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=-4;offsety=3;dotsize=3;english=False;rotation=2
