Draw.Filter_Water_Area=3
Draw.Filter_WaterLand_Area=3
Draw.Draw_WaterLand=True
Draw.Filter_Border_Line=3
Draw.Filter_Border_DrawLine=True
Draw.LineMethod_Railways_System=False
Draw.FontName_Cities=Microsoft Sans Serif
Draw.FontSize_Cities=8
Draw.FontNameBold_Cities=Arial
Draw.FontSizeBold_Cities=8
Draw.FontName_Sites=Microsoft Sans Serif
Draw.FontSize_Sites=8
Draw.FontNameBold_Sites=Microsoft Sans Serif
Draw.FontSizeBold_Sites=8
Draw.AutoRedraw_Cities=True
Draw.AutoRedraw_Labels=False
Draw.Draw_Railway_Spur=True
Draw.Draw_Railway_Lightrail=True
Draw.Draw_Railway_Unset=True
Draw.Draw_Railway_Tourism=True
Draw.Draw_Border=True
Draw.Border_Thickness=1
Draw.Border_Outlined=False
Draw.Draw_Landarea_Islands=True
Draw.Draw_Landarea_Islets=False
Draw.Scale_Position=LeftTop
Draw.Legend_Position=LeftTop
Draw.Scale_MarginX=15
Draw.Scale_MarginY=15
Draw.Legend_MarginX=15
Draw.Legend_MarginY=15
Draw.Scale_Km=200
Draw.Scale_Sections=2
Draw.Scale_Enabled=True
Draw.Scale_On_Top=False
Draw.Legend_Enabled=True
Draw.Legend_FontName=Microsoft Sans Serif
Draw.Legend_FontSize=8
DB.OutputWidth=1600
DB.OutputHeight=1267
DB.Separate_NonVisibleStations=True
Station.id=2157198889;display_name=Abadla;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1481327698;display_name=Aïn Bni Mathar عين بني مطهر;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1871674762;display_name=Ain Dalia;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2290946794;display_name=Ain Douz;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=4433447548;display_name=Ain Karma;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=6877632385;display_name=Ain sbit;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2320074022;display_name=Aïn Séfra;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5732975510;display_name=Aïn Tallout;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=4676859632;display_name=Aïn Tallout;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=694673717;display_name=Ain Taoujdate عين تاوجطات;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2042157379;display_name=Aïn Témouchent;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=300539878;display_name=Aïn-Sebaâ;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2182333421;display_name=Algeciras;valign=Center;halign=Left;visible=True;bold=False;outline=True;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=3909008955;display_name=Almoraima;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2637555565;display_name=Ancienne;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=3;dotsize=2;english=False;rotation=2
Station.id=9455603264;display_name=Aqba Hamra;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=2;english=False;rotation=0
Station.id=2990165308;display_name=Arbaoua;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=1686960811;display_name=Asilah;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=2;english=False;rotation=0
Station.id=2576704519;display_name=Azemmour;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=1;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5885873689;display_name=Bab Marzouka;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1480478880;display_name=Bab Tissera;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2785628270;display_name=Béchar;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=1210723435;display_name=Ben Guerir;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=2297934615;display_name=Beni Ensar Port;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1481071911;display_name=Beni Oukil;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=1;offsety=2;dotsize=2;english=False;rotation=0
Station.id=3251492467;display_name=Béni Ounif;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=2;english=False;rotation=0
Station.id=9372808148;display_name=Béni Saf;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=3827702078;display_name=Berrechid;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2297920672;display_name=Beni Ensar;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=9358592371;display_name=Bouarfa بوعرفة;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9412821622;display_name=Bouguedra;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;rotation=1
Station.id=10674265980;display_name=Boukhanafis;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=485910991;display_name=Bouskoura بوسكورة;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2429582026;display_name=Casa Port;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=7055155496;display_name=Casablanca;valign=Bottom;halign=Right;visible=True;bold=True;outline=False;offsetx=1;offsety=-1;dotsize=4;english=False;rotation=0
Station.id=5368531814;display_name=Chaabat El Leham;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=8283175981;display_name=Chtouka;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=9452234731;display_name=Dar Gueddari;valign=Top;halign=Left;visible=False;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1481071655;display_name=El Aïoun;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=-3;offsety=3;dotsize=2;english=False;rotation=2
Station.id=1686557617;display_name=El Amria;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=3117169195;display_name=El Fouchal;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-1;offsety=0;dotsize=2;english=False;rotation=0
Station.id=9425688725;display_name=El Harracha;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=2;english=False;rotation=0
Station.id=9363457099;display_name=El Hassaiba;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9375782945;display_name=El Malah;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=3884932091;display_name=Es Senia;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=326637988;display_name=Estación San Roque - La Línea;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1540573047;display_name=Facultés;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1104663583;display_name=Fès-Médina;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=535025035;display_name=Fès;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=1481425129;display_name=gare de Bouznika;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2163661965;display_name=Mechraa Bel Ksiri;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=449071760;display_name=gare de Rabat-Agdal;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=456791384;display_name=Gare de Salé Tabriquet محطة سلا تابريكت;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=456791383;display_name=Gare de Salé Ville محطة سلا المدينة;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=361575427;display_name=Gare de Sidi Bouknadel;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1102453328;display_name=Gare de Temara;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1045299774;display_name=El Jadida;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=485940044;display_name=Gare Ennassim;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=515366119;display_name=Mohammadia;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=1867480200;display_name=Gare ONCF Skhirat;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2819226556;display_name=RABAT;valign=Center;halign=Left;visible=True;bold=True;outline=True;offsetx=-2;offsety=-2;dotsize=4;english=False;rotation=0
Station.id=3415672289;display_name=Ghazaouet;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=3105351550;display_name=Ghazaouet;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=True;rotation=0
Station.id=3128218296;display_name=Guenfouda كنفوذة;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1558144707;display_name=Guersif;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=-1;offsety=1;dotsize=2;english=True;rotation=0
Station.id=1198741588;display_name=Haï El Sabah;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1784203847;display_name=Hassi Berkane;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=9418295678;display_name=Hay Al Massar;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9468848548;display_name=Imefoute;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9425761093;display_name=Jerada;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1481328664;display_name=Jnane Krater;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=2;english=False;rotation=0
Station.id=2191690280;display_name=Kceibya;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9450518206;display_name=Kénitra;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-2;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=9450431709;display_name=Kenitra Medina;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2194536439;display_name=Khemisset Chaouia;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=2;offsety=-2;dotsize=2;english=False;rotation=0
Station.id=2926335303;display_name=Khouribga;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2563673488;display_name=Ksar Sghir;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2990165307;display_name=Ksar-el-Kebir;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=4717157258;display_name=Laassilate;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=2928483869;display_name=Laglaf;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9452205026;display_name=Lalla Yettou;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1540612123;display_name=L'Oasis;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1560751686;display_name=Los Barrios;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2194543435;display_name=Machraa Ben Abbou;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=2;dotsize=2;english=False;rotation=0
Station.id=3992387466;display_name=Maghnia;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=10;offsety=-2;dotsize=2;english=False;rotation=0
Station.id=1245964366;display_name=Marrakech;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=True;rotation=0
Station.id=1480989522;display_name=Matmata مطماطة;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9444332085;display_name=Meknès - Al Amir Abdelkader;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1588103622;display_name=Meknès;valign=Bottom;halign=Left;visible=True;bold=False;outline=False;offsetx=3;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2299629069;display_name=Melga el Ouidane;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=2;english=False;rotation=0
Station.id=2150659522;display_name=Melloussa;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=2;english=False;rotation=0
Station.id=2157136183;display_name=Mengoub;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=485949418;display_name=Mers Sultan;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5322508069;display_name=Misserghine;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2418877039;display_name=Mohammed V;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=485952362;display_name=Mohammed V;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10674265972;display_name=Moulay Slissen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2202533379;display_name=Mrizigue;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=7029585210;display_name=M'Saada;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-2;dotsize=2;english=False;rotation=0
Station.id=2298084895;display_name=Nador Sud الناظور-الشمال;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1581960970;display_name=Nador;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=2;english=False;rotation=0
Station.id=3107158164;display_name=Naima;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;rotation=1
Station.id=3105289089;display_name=Nedroma;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=9447140239;display_name=Ouarzigha;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=6842454582;display_name=Oued Amlil;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1481327752;display_name=Oued Heimer وادي الحيمر;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=7029613411;display_name=Oued Rdom;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=3827704696;display_name=Oued Zem;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=3104119901;display_name=Oujda;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=-4;dotsize=3;english=False;rotation=0
Station.id=9452240954;display_name=Oulad Khitib;valign=Top;halign=Left;visible=True;bold=False;outline=True;offsetx=-1;offsety=3;dotsize=2;english=False;rotation=0
Station.id=2303596282;display_name=Oulad Rahou;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=2;english=False;rotation=0
Station.id=2291062821;display_name=Ouled Mimoun;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9463351931;display_name=Ras Al Ain;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=3;dotsize=3;english=False;rotation=0
Station.id=1664263860;display_name=Ras El Ma;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9363416620;display_name=Ras El Ma;valign=Top;halign=Left;visible=False;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9361038971;display_name=Redjem Demouche;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=True;rotation=0
Station.id=9444230872;display_name=Sabaa Aiyoun;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2290948049;display_name=Sabra;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9412715250;display_name=Safi;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=8044666497;display_name=San Roque - La Línea;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10632862335;display_name=San Roque - La Línea;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=8044666487;display_name=San Roque Mercancías;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2180731298;display_name=Selouane;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=635977791;display_name=Settat;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-1;offsety=0;dotsize=3;english=False;rotation=0
Station.id=10674265986;display_name=Sidi Ali Benyoub;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10671372065;display_name=Sidi Bel Abbès;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5294716991;display_name=Sidi Bel Abbès;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=3827703993;display_name=Sidi el Aïdi;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=6613014002;display_name=Sidi Hajjaj;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=3;offsety=6;dotsize=3;english=False;rotation=0
Station.id=9450411478;display_name=Sidi Ichou;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2328486902;display_name=Sidi Kacem;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=1871373532;display_name=Sidi Lahcene;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2290946722;display_name=Sidi Medjahed;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9450090824;display_name=Sidi Slimane;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=3;english=False;rotation=2
Station.id=9449876023;display_name=Sidi Slimane;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9450411188;display_name=Sidi Yahya;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=3;english=False;rotation=2
Station.id=559728453;display_name=Sidi-Taïbi;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2990165305;display_name=Souaken;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=1480599791;display_name=Souk el Arba du Gharb;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=10655973242;display_name=Tabia;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9463275905;display_name=Tamadroust;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=-2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=9418232000;display_name=Tanger;valign=Top;halign=Left;visible=True;bold=True;outline=True;offsetx=-2;offsety=-1;dotsize=4;english=False;rotation=0
Station.id=9425004014;display_name=Tanger-Maritime;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9418298546;display_name=Tangier Morora;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1698212199;display_name=Taza تازة;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2627640722;display_name=Telagh;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10797298378;display_name=Telagh;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2572775481;display_name=Temara;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=1481325942;display_name=Tendrara;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=1481327305;display_name=Tiouli تيولي;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9455086473;display_name=Tlata Rissana;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=9369856848;display_name=Tlemcen;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=True;rotation=1
Station.id=9455233114;display_name=Tnine Sidi El Yamani;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=3154623889;display_name=Touabaa;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=728240454;display_name=Tralimet;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=3534417188;display_name=Youssoufia;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;rotation=1
Station.id=2290946923;display_name=Zalboun;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=3103272616;display_name=Zoudj Bghal;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=4215515532;display_name=النواصر;valign=Bottom;halign=Left;visible=True;bold=False;outline=False;offsetx=-2;offsety=3;dotsize=3;english=False;rotation=0
Station.id=3885025884;display_name=بوتليليس;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=635975802;display_name=بوناكة;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=258394448;display_name=تاوريرت;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=635981864;display_name=جمعة العرارشة;valign=Center;halign=Left;visible=False;bold=False;outline=False;offsetx=-4;offsety=0;dotsize=2;english=False;rotation=0
Station.id=9358324908;display_name=جنيان بورزق;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1198741554;display_name=Sidi Maârouf;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=True;rotation=0
Station.id=156426654;display_name=محطة الرباط المدينة;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10797298372;display_name=محطة القطار سيدي لحسن;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10797298375;display_name=محطة القطار طابية;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10797298377;display_name=محطة القطار مولاي سليسن;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9358324914;display_name=مغرار;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=3523721044;display_name=نزالة العظم;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=1;offsety=-2;dotsize=2;english=False;rotation=0
Station.id=3735813468;display_name=وهران البحرية;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
CC.name=;lat=28,4035177514091;lon=-4,96313523279325;color=EFEFEF
CC.name=;lat=27,3032399471074;lon=-9,81181397514067;color=EFEFEF
CC.name=;lat=27,1597897664829;lon=-8,57385344517963;color=EFEFEF
CC.name=;lat=36,2374800188508;lon=-5,77697965526764;color=EFEFEF
