Draw.Filter_Water_Area=3
Draw.Filter_WaterLand_Area=3
Draw.Draw_WaterLand=True
Draw.Filter_Border_Line=3
Draw.Filter_Border_DrawLine=True
Draw.LineMethod_Railways_System=False
Draw.FontName_Cities=Microsoft Sans Serif
Draw.FontSize_Cities=8
Draw.FontNameBold_Cities=Arial
Draw.FontSizeBold_Cities=8
Draw.FontName_Sites=Microsoft Sans Serif
Draw.FontSize_Sites=8
Draw.FontNameBold_Sites=Microsoft Sans Serif
Draw.FontSizeBold_Sites=8
Draw.AutoRedraw_Cities=True
Draw.AutoRedraw_Labels=False
Draw.Draw_Railway_Spur=True
Draw.Draw_Railway_Lightrail=True
Draw.Draw_Railway_Unset=True
Draw.Draw_Railway_Tourism=True
Draw.Draw_Border=True
Draw.Border_Thickness=1
Draw.Border_Outlined=False
Draw.Draw_Landarea_Islands=True
Draw.Draw_Landarea_Islets=True
Draw.Scale_Position=RightBottom
Draw.Legend_Position=RightBottom
Draw.Scale_MarginX=15
Draw.Scale_MarginY=15
Draw.Legend_MarginX=15
Draw.Legend_MarginY=15
Draw.Scale_Km=5
Draw.Scale_Sections=5
Draw.Scale_Enabled=True
Draw.Scale_On_Top=False
Draw.Legend_Enabled=True
Draw.Legend_FontName=Microsoft Sans Serif
Draw.Legend_FontSize=8
DB.OutputWidth=1800
DB.OutputHeight=875
DB.Separate_NonVisibleStations=True
Station.id=1036553616;display_name=Albertslund;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=286885968;display_name=Avedøre;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=7907707922;display_name=Avedøre Havnevej;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=597426641;display_name=Bagsværd;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=7895320432;display_name=Bavnehøj;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=25872886;display_name=Bernstorffsvej;valign=Bottom;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=3;english=False;rotation=2
Station.id=24960728;display_name=Bispebjerg;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=28321923;display_name=Brede;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=286885763;display_name=Brøndby Strand;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=-1;offsety=2;dotsize=3;english=False;rotation=0
Station.id=1023040928;display_name=Brøndbyøster;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=9953049123;display_name=Burlöv;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=4280112495;display_name=Carlsberg;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=-9;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=25872825;display_name=Charlottenlund;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=611318182;display_name=Danshøj;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=1;offsety=0;dotsize=3;english=False;rotation=1
Station.id=593765406;display_name=Dybbølsbro;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=659992474;display_name=Emdrup;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=286886106;display_name=Friheden;valign=Bottom;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=611297799;display_name=Fuglebakken;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=6;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=8458145827;display_name=Furulund;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=2;english=False;rotation=0
Station.id=295218037;display_name=Greve;valign=Bottom;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=611305065;display_name=Grøndal;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=3168442679;display_name=Gunnesbo;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=7899100656;display_name=Helgoland;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9484455108;display_name=Hjärup;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=9484459917;display_name=Hjärup;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5126423536;display_name=Husum;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=1036553605;display_name=Hvidovre;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=3;english=False;rotation=0
Station.id=7895320280;display_name=Hvidovre Fjern;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=8528446170;display_name=Hyllie;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=147530552;display_name=Hyllie;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=7895320358;display_name=Høje Taastrup;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=7907708116;display_name=Høje Taastrup kombiterminal;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=287043264;display_name=Ishøj;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=586436631;display_name=Islev;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5785023300;display_name=Jægersborg;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=586436651;display_name=Jyllingevej;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=7899100694;display_name=Kalvebod;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=611318230;display_name=KB Hallen;valign=Center;halign=Left;visible=True;bold=False;outline=True;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=597730004;display_name=Kildebakke;valign=Top;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=3;dotsize=3;english=False;rotation=0
Station.id=7899100606;display_name=Kildebrønde;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=587739741;display_name=Kildedal;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=5680478829;display_name=Klampenborg;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=3;offsety=0;dotsize=3;english=False;rotation=0
Station.id=3168442681;display_name=Kävlinge;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=7907706453;display_name=København G;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=3739700410;display_name=Københavns H;valign=Center;halign=Right;visible=True;bold=True;outline=True;offsetx=4;offsety=-1;dotsize=4;english=False;rotation=0
Station.id=3739700409;display_name=Københavns\nLufthavn\nKastrup;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=-5;offsety=3;dotsize=4;english=False;rotation=0
Station.id=1036553606;display_name=Langgade;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=7541645338;display_name=Lernacken;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=7899100584;display_name=Lersøen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=8448979993;display_name=Lomma;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=5248540702;display_name=Lund centralstation;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=4;offsety=0;dotsize=4;english=False;rotation=0
Station.id=28321846;display_name=Lyngby Lokal;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1071641459;display_name=Malmparken;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=-1;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=25589138;display_name=Malmö C;valign=Top;halign=Left;visible=True;bold=True;outline=True;offsetx=-3;offsety=-1;dotsize=4;english=False;rotation=0
Station.id=7541645331;display_name=Malmö Syd Svågertorp;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=3;english=False;rotation=0
Station.id=587732384;display_name=Måløv;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-4;dotsize=3;english=False;rotation=0
Station.id=595296652;display_name=Nordhavn;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=3;offsety=0;dotsize=3;english=False;rotation=0
Station.id=7919000439;display_name=Ny Ellebjerg;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1017968484;display_name=Ny\nEllebjerg;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=-2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=3626973487;display_name=Nørgaardsvej;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=610619173;display_name=Nørrebro;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=6836386878;display_name=Nørreport;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=4993155222;display_name=Nørreport;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=7891926537;display_name=Nørreport;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2093979759;display_name=Ordrup;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=7541645336;display_name=Oxie;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=7541645337;display_name=Peberholm;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=7907708002;display_name=Peberholm grænse;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=7541645333;display_name=Persborg;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=1040169361;display_name=Peter Bangsvej;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=28321948;display_name=Ravnholm;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-5;dotsize=2;english=False;rotation=0
Station.id=7541645334;display_name=Rosengård;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=593869905;display_name=Ryparken;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=-2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=24954656;display_name=Rødovre;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=286886199;display_name=Sjælør;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=-8;offsety=1;dotsize=3;english=False;rotation=0
Station.id=7919008885;display_name=Skelbæk;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=597771469;display_name=Skovbrynet;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-3;dotsize=3;english=False;rotation=0
Station.id=587660892;display_name=Skovlunde;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=-5;offsety=4;dotsize=3;english=False;rotation=0
Station.id=25872941;display_name=Sorgenfri;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=597426666;display_name=Stengården;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=9953049121;display_name=Stångby;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=286886246;display_name=Sydhavn;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=8559657094;display_name=Triangeln;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=7541645332;display_name=Triangeln;valign=Center;halign=Left;visible=True;bold=False;outline=True;offsetx=-2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=1057448125;display_name=Tårnby;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=-2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=597771392;display_name=Værløse;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=5073252189;display_name=Valby;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=597729973;display_name=Vangede;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=2;dotsize=3;english=False;rotation=0
Station.id=593753668;display_name=Vesterport;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=3;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=7899100550;display_name=Vigerslev;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=7907706466;display_name=Vigerslev;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=611325250;display_name=Vigerslev Allé;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=25872951;display_name=Virum;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=275435720;display_name=Åkarp;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=2462198283;display_name=Åkarp;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=611318209;display_name=Ålholm;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=1057447783;display_name=Ørestad;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=-1;offsety=2;dotsize=3;english=False;rotation=0
Station.id=3167771279;display_name=Örtofta;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=7919008818;display_name=Østerport;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=7899100664;display_name=Østerport;valign=Bottom;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=7541645335;display_name=Östervärn;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=3;offsety=1;dotsize=3;english=False;rotation=0
Station.id=20946305;display_name=Holte;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=28321802;display_name=Jægersborg;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=28321897;display_name=Fuglevad;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=5;offsety=-1;dotsize=2;english=False;rotation=1
Station.id=28321940;display_name=Ørholm;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=286885624;display_name=Vallensbæk;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=286886137;display_name=Åmarken;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=286999329;display_name=Hundige;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=2;dotsize=3;english=False;rotation=0
Station.id=287328785;display_name=Karlslunde;valign=Bottom;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=494382792;display_name=Herlev;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=494382836;display_name=Buddinge;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=-2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=595293336;display_name=Svanemøllen;valign=Top;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=597730022;display_name=Dyssegård;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=597771450;display_name=Hareskov;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=598201521;display_name=Hellerup;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=4;offsety=0;dotsize=3;english=False;rotation=0
Station.id=598205283;display_name=Gentofte;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=2;dotsize=3;english=False;rotation=0
Station.id=611305003;display_name=Flintholm;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=1034044245;display_name=Glostrup;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=4;english=False;rotation=0
Station.id=1036553613;display_name=Taastrup;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=2951409808;display_name=Klampenborg;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=4989664667;display_name=Østerport;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5066122140;display_name=Vanløse;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=2;dotsize=3;english=False;rotation=0
Station.id=5073252188;display_name=Valby;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5096749954;display_name=Københavns Hovedbanegård;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5130464045;display_name=Ballerup;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=2;dotsize=3;english=False;rotation=0
Station.id=5502509094;display_name=Høje Taastrup;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5762708641;display_name=Lyngby;valign=Bottom;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-2;dotsize=3;english=False;rotation=0
