Draw.Filter_Water_Area=3
Draw.Filter_WaterLand_Area=3
Draw.Draw_WaterLand=True
Draw.Filter_Border_Line=3
Draw.Filter_Border_DrawLine=True
Draw.LineMethod_Railways_System=False
Draw.FontName_Cities=Microsoft Sans Serif
Draw.FontSize_Cities=8
Draw.FontNameBold_Cities=Arial
Draw.FontSizeBold_Cities=8
Draw.FontName_Sites=Microsoft Sans Serif
Draw.FontSize_Sites=8
Draw.FontNameBold_Sites=Microsoft Sans Serif
Draw.FontSizeBold_Sites=8
Draw.AutoRedraw_Cities=True
Draw.AutoRedraw_Labels=False
Draw.Draw_Railway_Spur=True
Draw.Draw_Railway_Lightrail=True
Draw.Draw_Railway_Unset=True
Draw.Draw_Railway_Tourism=True
Draw.Draw_Border=True
Draw.Border_Thickness=1
Draw.Border_Outlined=False
Draw.Draw_Landarea_Islands=True
Draw.Draw_Landarea_Islets=False
Draw.Scale_Position=LeftTop
Draw.Legend_Position=LeftTop
Draw.Scale_MarginX=15
Draw.Scale_MarginY=15
Draw.Legend_MarginX=15
Draw.Legend_MarginY=15
Draw.Scale_Km=10
Draw.Scale_Sections=2
Draw.Scale_Enabled=True
Draw.Scale_On_Top=False
Draw.Legend_Enabled=True
Draw.Legend_FontName=Microsoft Sans Serif
Draw.Legend_FontSize=8
DB.OutputWidth=1200
DB.OutputHeight=1678
DB.Separate_NonVisibleStations=True
Station.id=2012791840;display_name=Alna;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=3;dotsize=3;english=False;rotation=0
Station.id=5526331422;display_name=Alnabru;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2014813979;display_name=Asker;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-2;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=5720559127;display_name=Askim;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2778334154;display_name=Auli;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-1;offsety=-3;dotsize=3;english=False;rotation=0
Station.id=25049175;display_name=Berg;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5526331011;display_name=Berg;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=1347436674;display_name=Besserud;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=26560773;display_name=Billingstad;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=1;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5148364153;display_name=Bingsfoss;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=4;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5526331879;display_name=Blaker;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5720557868;display_name=Blommenholm;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=5526332057;display_name=Bodung;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=2015100953;display_name=Bondivann;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=5526331007;display_name=Borgestad;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2409857393;display_name=Brakerøya;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=2011317766;display_name=Bryn;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=26639185;display_name=Carl Berners plass;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5720557909;display_name=Dal;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5720557898;display_name=Darbu;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=4352888893;display_name=Drammen;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=5720557899;display_name=Eidsberg;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=2411364279;display_name=Eidsvoll verk;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=25713621;display_name=Ekraveien;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5720557907;display_name=Fetsund;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=5526331012;display_name=Filipstad;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2012791843;display_name=Fjellhamar;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=3;english=False;rotation=2
Station.id=5148363495;display_name=Fossum;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=5526331839;display_name=Fredrikstad;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=3;english=False;rotation=0
Station.id=5720557869;display_name=Frogner;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=25703752;display_name=Frognerseteren;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1489137128;display_name=Frøen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1347436530;display_name=Gaustad;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5720557901;display_name=Grefsen;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=0;offsety=-3;dotsize=3;english=False;rotation=0
Station.id=5526331421;display_name=Grenlandsterminalen;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=5526332093;display_name=Greverud;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-1;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=690171777;display_name=Grorud;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=5720557906;display_name=Grua;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=1347436532;display_name=Gråkammen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=25702382;display_name=Gulleråsen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2015100959;display_name=Gullhella;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=4353505986;display_name=Gulskogen;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=5526331881;display_name=Haga;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-3;offsety=-3;dotsize=3;english=False;rotation=0
Station.id=5720557874;display_name=Hakadal;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=3;offsety=-3;dotsize=3;english=False;rotation=0
Station.id=5720557883;display_name=Halden;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=2012791848;display_name=Hanaborg;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=-2;offsety=1;dotsize=3;english=False;rotation=2
Station.id=5526331895;display_name=Harestua;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=5720557902;display_name=Hauerseter;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=638975290;display_name=Haugenstua;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2809399640;display_name=Hauketo;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-3;offsety=1;dotsize=3;english=False;rotation=0
Station.id=35219524;display_name=Heggedal;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=2375332466;display_name=Heia;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=5526331017;display_name=Hensmoen;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=4353513414;display_name=Hokksund;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=1;offsety=1;dotsize=3;english=False;rotation=1
Station.id=25713529;display_name=Holmen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1347436771;display_name=Holmenkollen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5527685977;display_name=Holmestrand;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5526332106;display_name=Holmlia;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=25298243;display_name=Holstein;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=25713549;display_name=Hovseter;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=26560811;display_name=Hvalstad;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=227004719;display_name=Høn;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=1;offsety=3;dotsize=3;english=False;rotation=0
Station.id=5526332055;display_name=Hønefoss;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=4;offsety=0;dotsize=3;english=False;rotation=0
Station.id=240487830;display_name=Høvik;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=2;dotsize=3;english=False;rotation=0
Station.id=2012791852;display_name=Høybråten;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2409183970;display_name=Jessheim;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5526331016;display_name=Jevnaker;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=306215792;display_name=Kambo;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5720557871;display_name=Kjelsås;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2409183972;display_name=Kløfta;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5526330458;display_name=Kløftefoss;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-2;dotsize=2;english=False;rotation=0
Station.id=5526331870;display_name=Knapstad;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5649073884;display_name=Kolbotn;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=4353516731;display_name=Kongsberg;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=25298233;display_name=Kringsjå;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5720557859;display_name=Kråkstad;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-3;dotsize=3;english=False;rotation=0
Station.id=5526330777;display_name=Krøderen;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=5720557889;display_name=Langhus;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=3;dotsize=3;english=False;rotation=0
Station.id=119135193;display_name=Langhus stasjon;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2848811255;display_name=Larvik;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=721744992;display_name=Leirsund;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=3;dotsize=3;english=False;rotation=0
Station.id=2409183975;display_name=Lier;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=3088222120;display_name=Lillestrøm;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=25703429;display_name=Lillevann;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=450204466;display_name=Lindeberg;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5720557905;display_name=Ljan;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-1;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5526331018;display_name=Loenga;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5720557911;display_name=Lunner;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=5526332060;display_name=Lysaker;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=2012791855;display_name=Lørenskog;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=2274012035;display_name=Majorstuen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=33765679;display_name=Makrellbekken;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1347436489;display_name=Midtstuen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5720557912;display_name=Mjøndalen;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=5720557915;display_name=Moss;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2901483147;display_name=Movatn;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-3;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=5526332103;display_name=Myrvoll;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5720559123;display_name=Mysen;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=26681684;display_name=Nationaltheatret;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=5526332228;display_name=Nerdrum;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=3;english=False;rotation=0
Station.id=5720557862;display_name=Nittedal;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=2366226822;display_name=Nordby;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2811385243;display_name=Nordstrand;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-1;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5526332078;display_name=Nydalen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5526332041;display_name=Nyland;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=5720557873;display_name=Oppegård;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=3;english=False;rotation=0
Station.id=2410171846;display_name=Oslo\nLufthavn/Airport;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-3;offsety=-5;dotsize=4;english=False;rotation=0
Station.id=660921;display_name=OSLO S;valign=Top;halign=Center;visible=True;bold=True;outline=True;offsetx=1;offsety=-1;dotsize=4;english=False;rotation=1
Station.id=5720557908;display_name=Porsgrunn;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=3;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=5720557877;display_name=Rakkestad;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=1347436816;display_name=Ris;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5720557913;display_name=Roa;valign=Bottom;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=3;english=False;rotation=0
Station.id=5526331019;display_name=Rolvsøy;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=5526332024;display_name=Rosenholm;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2408227290;display_name=Rygge;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=2;dotsize=3;english=False;rotation=0
Station.id=5720559124;display_name=Råde;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=10690148105;display_name=Rånåfoss;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=2;dotsize=3;english=False;rotation=0
Station.id=968101938;display_name=Rånåsfoss;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=25713616;display_name=Røa;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=35219560;display_name=Røyken;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=2015155923;display_name=Sagdalen;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=1
Station.id=2793357892;display_name=Sande;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2824949856;display_name=Sandefjord;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=26560744;display_name=Sandvika;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=3;english=False;rotation=0
Station.id=2408227293;display_name=Sarpsborg;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=-4;offsety=-4;dotsize=3;english=False;rotation=0
Station.id=5460200898;display_name=Ski;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2873194535;display_name=Skien;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-3;dotsize=3;english=False;rotation=0
Station.id=283458770;display_name=Skien Stasjon;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=25703253;display_name=Skogen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2802324063;display_name=Skoppum;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5526332105;display_name=Skotbu;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1347436972;display_name=Skådalen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=240488929;display_name=Skøyen;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=1347436922;display_name=Slemdal;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1069972499;display_name=Slependen;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5720557870;display_name=Slitu;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=2;english=False;rotation=0
Station.id=5526330422;display_name=Snarum;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=5526331857;display_name=Snippen;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=25298228;display_name=Sognsvann;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5526332049;display_name=Solbråtan;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2372517031;display_name=Sonsveien;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2015100982;display_name=Spikkestad;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=5720557884;display_name=Spydeberg;valign=Bottom;halign=Left;visible=True;bold=False;outline=False;offsetx=5;offsety=1;dotsize=3;english=False;rotation=0
Station.id=240488207;display_name=Stabekk;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=2;dotsize=3;english=False;rotation=0
Station.id=5720557918;display_name=Steinberg;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=1
Station.id=1347436475;display_name=Steinerud;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2824949862;display_name=Stokke;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=2899223985;display_name=Stryken;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5526331866;display_name=Strømmen;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=-3;offsety=1;dotsize=3;english=False;rotation=1
Station.id=9467961969;display_name=Strömstad;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5526331008;display_name=Sundland;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5526331891;display_name=Svingen;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=5526330792;display_name=Sysle;valign=Bottom;halign=Left;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5720557891;display_name=Sørumsand;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=-2;offsety=3;dotsize=3;english=False;rotation=0
Station.id=5148364154;display_name=Sørumsand museumsbane;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5720559121;display_name=Tomter;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=2824949863;display_name=Torp;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=1239160554;display_name=Tuen;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=-1;offsety=1;dotsize=2;english=False;rotation=0
Station.id=25050729;display_name=Tåsen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=2811775854;display_name=Tønsberg;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=4;dotsize=3;english=False;rotation=0
Station.id=5526331908;display_name=Tøyen;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=26560822;display_name=Vakås;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5526331856;display_name=Varingskollen;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=2;english=False;rotation=0
Station.id=5720557904;display_name=Vestby;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5720559125;display_name=Vestfossen;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1347436843;display_name=Vettakollen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5526332030;display_name=Vevelstad;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=5526332084;display_name=Vikersund;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=1347436762;display_name=Vinderen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=25703622;display_name=Voksenkollen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=1347436486;display_name=Voksenlia;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=5720557897;display_name=Åneby;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5720557910;display_name=Årnes;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=5720557893;display_name=Ås;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=3;offsety=0;dotsize=3;english=False;rotation=0
Station.id=25298260;display_name=Østhorn;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
