Draw.Filter_Water_Area=3
Draw.Filter_WaterLand_Area=3
Draw.Draw_WaterLand=True
Draw.Filter_Border_Line=3
Draw.Filter_Border_DrawLine=True
Draw.LineMethod_Railways_System=False
Draw.FontName_Cities=Microsoft Sans Serif
Draw.FontSize_Cities=8
Draw.FontNameBold_Cities=Arial
Draw.FontSizeBold_Cities=8
Draw.FontName_Sites=Microsoft Sans Serif
Draw.FontSize_Sites=8
Draw.FontNameBold_Sites=Microsoft Sans Serif
Draw.FontSizeBold_Sites=8
Draw.AutoRedraw_Cities=True
Draw.AutoRedraw_Labels=False
Draw.Draw_Railway_Spur=True
Draw.Draw_Railway_Lightrail=True
Draw.Draw_Railway_Unset=True
Draw.Draw_Railway_Tourism=True
Draw.Draw_Border=True
Draw.Border_Thickness=1
Draw.Border_Outlined=False
Draw.Draw_Landarea_Islands=True
Draw.Draw_Landarea_Islets=False
Draw.Scale_Position=LeftTop
Draw.Legend_Position=LeftTop
Draw.Scale_MarginX=15
Draw.Scale_MarginY=15
Draw.Legend_MarginX=15
Draw.Legend_MarginY=15
Draw.Scale_Km=10
Draw.Scale_Sections=2
Draw.Scale_Enabled=True
Draw.Scale_On_Top=False
Draw.Legend_Enabled=True
Draw.Legend_FontName=Microsoft Sans Serif
Draw.Legend_FontSize=8
DB.OutputWidth=1600
DB.OutputHeight=1553
DB.Separate_NonVisibleStations=True
Station.id=1374884606;display_name=Hagudi;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=27471086;display_name=Hiiu;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-2;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=1133646710;display_name=Jaanika;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=6573243441;display_name=Järve;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-3;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=2158784640;display_name=Kasemetsa;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=30153569;display_name=Keila;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=1133646698;display_name=Kibuna;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=9957029651;display_name=Kiisa;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=629284302;display_name=Kitseküla;valign=Top;halign=Right;visible=True;bold=False;outline=True;offsetx=-2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=29163110;display_name=Kivimäe;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=793553395;display_name=Klooga-Aedlinn;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=-4;offsety=3;dotsize=2;english=False;rotation=0
Station.id=30153594;display_name=Kloogaranna;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=81225583;display_name=Kohila;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=344390054;display_name=Kulli;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=30153673;display_name=Kulna;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=850008507;display_name=Laitse;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=660788046;display_name=Laoküla;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=10127023652;display_name=Lasterong;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=9957029652;display_name=Liiva;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=27499361;display_name=Lilleküla;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=3;english=False;rotation=0
Station.id=306977119;display_name=Lohu;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=864818204;display_name=Männiku;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-1;offsety=0;dotsize=2;english=False;rotation=0
Station.id=30153584;display_name=Niitvälja;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=27471088;display_name=Nõmme;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=3;dotsize=3;english=False;rotation=0
Station.id=324566863;display_name=Padula;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=3;english=False;rotation=0
Station.id=57577653;display_name=Põllküla;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=6572486459;display_name=Rahumäe;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;rotation=0
Station.id=30153696;display_name=Riisipere;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=27511529;display_name=Roobuka;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=4175738941;display_name=Saku;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=29163264;display_name=Saue;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=-1;offsety=1;dotsize=3;english=False;rotation=0
Station.id=9957029653;display_name=Tallinn-Väike;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=27499369;display_name=Tondi;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-2;offsety=-2;dotsize=3;english=False;rotation=0
Station.id=6913337838;display_name=Turba;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=3;english=False;rotation=0
Station.id=5297865224;display_name=Valdeku;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=27145891;display_name=Valingu;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=9951227237;display_name=Vasalemma;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=645758693;display_name=Vesse;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=-4;offsety=3;dotsize=3;english=False;rotation=0
Station.id=27511533;display_name=Vilivere;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-3;dotsize=2;english=False;rotation=0
Station.id=27508651;display_name=Ülemiste;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-3;dotsize=3;english=False;rotation=0
Station.id=27509230;display_name=Lagedi;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-4;dotsize=3;english=False;rotation=0
Station.id=29163112;display_name=Pääsküla;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-2;offsety=-4;dotsize=3;english=False;rotation=0
Station.id=29163173;display_name=Laagri;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;rotation=0
Station.id=30402685;display_name=Paldiski;valign=Center;halign=Left;visible=True;bold=False;outline=True;offsetx=0;offsety=2;dotsize=3;english=False;rotation=0
Station.id=344390051;display_name=Raasiku;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=344390052;display_name=Aruküla;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=3;english=False;rotation=0
Station.id=650927310;display_name=TALLINN;valign=Center;halign=Right;visible=True;bold=True;outline=False;offsetx=3;offsety=0;dotsize=4;english=False;rotation=0
Station.id=790225001;display_name=Klooga;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;rotation=0
Station.id=6573243428;display_name=Urda;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=1;offsety=-1;dotsize=2;english=False;rotation=0
