Draw.Filter_Water_Area=3
Draw.Filter_WaterLand_Area=3
Draw.Draw_WaterLand=True
Draw.Filter_Border_Line=3
Draw.Filter_Border_DrawLine=True
Draw.LineMethod_Railways_System=False
Draw.FontName_Cities=Microsoft Sans Serif
Draw.FontSize_Cities=8
Draw.FontNameBold_Cities=Arial
Draw.FontSizeBold_Cities=8
Draw.FontName_Sites=Microsoft Sans Serif
Draw.FontSize_Sites=8
Draw.FontNameBold_Sites=Microsoft Sans Serif
Draw.FontSizeBold_Sites=8
Draw.AutoRedraw_Cities=True
Draw.AutoRedraw_Labels=False
Draw.Draw_Railway_Spur=True
Draw.Draw_Railway_Lightrail=True
Draw.Draw_Railway_Unset=True
Draw.Draw_Railway_Tourism=True
Draw.Draw_Border=True
Draw.Border_Thickness=1
Draw.Border_Outlined=False
Draw.Draw_Landarea_Islands=True
Draw.Draw_Landarea_Islets=False
Draw.Draw_Rivers_Waterbodies=True
Draw.Draw_Rivers_Waterways=True
Draw.Filter_RiverBody_Area=3
Draw.Filter_RiverLand_Area=2
Draw.Filter_Waterway_Line=3
Draw.Scale_Position=LeftBottom
Draw.Legend_Position=LeftBottom
Draw.Scale_MarginX=15
Draw.Scale_MarginY=15
Draw.Legend_MarginX=15
Draw.Legend_MarginY=15
Draw.Scale_Km=10
Draw.Scale_Sections=2
Draw.Scale_Enabled=True
Draw.Scale_On_Top=True
Draw.Legend_Enabled=True
Draw.Legend_FontName=Microsoft Sans Serif
Draw.Legend_FontSize=8
DB.OutputWidth=1200
DB.OutputHeight=1510
DB.Separate_NonVisibleStations=True
Station.id=11407592005;display_name=[Gbf Hamburg Hannoverscher Bahnhof];valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4679600935;display_name=Abfahrt Torfbahn\nHimmelmoor;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;hidename=False;rotation=1
Station.id=3205295000;display_name=Ahrensburg;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=3;dotsize=3;english=False;hidename=False;rotation=0
Station.id=1885007847;display_name=Ahrensburg-Gartenholz;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3128456543;display_name=Allermöhe;valign=Bottom;halign=Center;visible=True;bold=False;outline=True;offsetx=0;offsety=2;dotsize=2;english=False;hidename=False;rotation=2
Station.id=274601083;display_name=Alveslohe;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=242951312;display_name=Apensen;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=258838164;display_name=Ashausen;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=9779639978;display_name=Bahnhof Alte Süderelbe;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3706213880;display_name=Bahrenfeld;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;hidename=False;rotation=1
Station.id=4053206391;display_name=Bargteheide;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=3;offsety=0;dotsize=3;english=False;hidename=False;rotation=0
Station.id=4042384123;display_name=Barmstedt;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=294236589;display_name=Barmstedt Brunnenst.;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;hidename=False;rotation=1
Station.id=3376301003;display_name=Billwerder-Moorfleet;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=833382835;display_name=Boberg-Havighorst;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=248771279;display_name=Bokholt;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=5521742779;display_name=Buchholz;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=3;english=False;hidename=False;rotation=0
Station.id=3583854006;display_name=Bönningstedt;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=268597814;display_name=Börnsen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=34126794;display_name=Dehnhaide;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=5729181346;display_name=Eidelstedt;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=53139421;display_name=Eidelstedt Zentrum;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4546145795;display_name=Elbbrücken;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=466451533;display_name=Elbbrücken;valign=Center;halign=Left;visible=True;bold=False;outline=True;offsetx=-2;offsety=0;dotsize=3;english=False;hidename=False;rotation=0
Station.id=4042415590;display_name=Ellerau;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4053198947;display_name=Elmshorn;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;hidename=False;rotation=0
Station.id=4053151594;display_name=Emilienstraße;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=1374516268;display_name=Escheburg;valign=Bottom;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3707303125;display_name=Fischbek;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;hidename=False;rotation=1
Station.id=3372061141;display_name=Friedrichsberg;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=130582713;display_name=Friedrichsgabe;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3365707260;display_name=Hafenbahnhof Hamburg-Süd;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4053151596;display_name=Hagendeel;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3707303126;display_name=Halstenbek;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4973014847;display_name=Hamburg Berliner Tor (Bergedorf);valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4973014846;display_name=Hamburg Berliner Tor (Landwehr);valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3255993296;display_name=Dammtor;valign=Top;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3255993297;display_name=Hamburg Dammtor;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3372093847;display_name=Hasselbrook;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=5;offsety=-1;dotsize=3;english=False;hidename=False;rotation=0
Station.id=3372160761;display_name=Bergedorf;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=4;dotsize=3;english=False;hidename=False;rotation=0
Station.id=6771290002;display_name=Hamburg-Bergedorf Süd;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=10174066475;display_name=Hamburg-Billbrook;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=9592920718;display_name=Hamburg-Billwerder;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4725309875;display_name=Hamburg-Harburg;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=3;dotsize=4;english=False;hidename=False;rotation=0
Station.id=3239383462;display_name=Rahlstedt;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=2;dotsize=3;english=False;hidename=False;rotation=0
Station.id=3372071086;display_name=Hamburg-Tonndorf;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3081485464;display_name=Hamburg-Veddel;valign=Top;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=4;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3129405072;display_name=Hammerbrook;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3135336139;display_name=Harburg;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=235479513;display_name=Hasloh;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;hidename=False;rotation=0
Station.id=1472514793;display_name=Haslohfurth;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3025176706;display_name=Heidenau;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3707303129;display_name=Heimfeld;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=2;dotsize=2;english=False;hidename=False;rotation=0
Station.id=296233463;display_name=Henstedt-Ulzburg;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;hidename=False;rotation=0
Station.id=3629769340;display_name=Hittfeld;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=1235197664;display_name=Hochkamp;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3551501700;display_name=Hohe Schaar;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3070913590;display_name=Hoheneichen;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=306439622;display_name=Holm-Seppensen;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=6187444956;display_name=Holm-Seppensen;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3376301004;display_name=Holstenstraße;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3583849098;display_name=Hörgensweg;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4052518767;display_name=Iserbrook;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=6903682283;display_name=Joachim-Mähl-Straße;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3376281838;display_name=Jungfernstieg;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=278944276;display_name=Kaltenkirchen;valign=Bottom;halign=Left;visible=True;bold=False;outline=False;offsetx=5;offsety=1;dotsize=3;english=False;hidename=False;rotation=0
Station.id=278943952;display_name=Kaltenkirchen Süd;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=34385651;display_name=Kellinghusenstraße;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3729539031;display_name=Klecken;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3070913591;display_name=Kornweg (Klein Borstel);valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=-1;offsety=1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3707303133;display_name=Krupunder;valign=Bottom;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4053158619;display_name=Kupfermühle;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=-3;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3376281839;display_name=Königstraße;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=540173264;display_name=Landungsbrücken;valign=Bottom;halign=Center;visible=True;bold=False;outline=True;offsetx=0;offsety=1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=296232486;display_name=Langeln;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3377293659;display_name=Langenfelde;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=283299380;display_name=Langenmoor;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=286416820;display_name=Luhdorf;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4053151598;display_name=Lutterothstraße;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=1237025548;display_name=Maschen;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=4;offsety=-2;dotsize=3;english=False;hidename=False;rotation=0
Station.id=615433252;display_name=Maschen\nRangierbahnhof;valign=Bottom;halign=Left;visible=True;bold=False;outline=True;offsetx=0;offsety=1;dotsize=2;english=False;hidename=False;rotation=2
Station.id=4363449846;display_name=Meckelfeld;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3403700871;display_name=Meeschensee;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-2;dotsize=2;english=False;hidename=False;rotation=0
Station.id=260549776;display_name=Mittlerer Landweg;valign=Top;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=2;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3386295732;display_name=Moorbekhalle (Schulzentrum Nord);valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=34129206;display_name=Mundsburg;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3376301005;display_name=Nettelnburg;valign=Bottom;halign=Center;visible=True;bold=False;outline=True;offsetx=0;offsety=2;dotsize=2;english=False;hidename=False;rotation=2
Station.id=300471827;display_name=Neu Garstedt;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4042447335;display_name=Neu Wulmstorf;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;hidename=False;rotation=1
Station.id=3135325889;display_name=Neugraben;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=2;dotsize=3;english=False;hidename=False;rotation=0
Station.id=3707303135;display_name=Neukloster;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3135336140;display_name=Neuwiedenthal;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;hidename=False;rotation=1
Station.id=262406302;display_name=Norderstedt Mitte;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;hidename=False;rotation=0
Station.id=10942031669;display_name=Ottensen;valign=Top;halign=Center;visible=True;bold=False;outline=True;offsetx=0;offsety=-1;dotsize=2;english=False;hidename=False;rotation=1
Station.id=3604605806;display_name=Pattensen;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3640048207;display_name=Prisdorf;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3082186881;display_name=Quickborn;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;hidename=False;rotation=0
Station.id=21474012;display_name=Quickborn Süd;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;hidename=False;rotation=0
Station.id=271920817;display_name=Quickborner Straße;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3593541247;display_name=Radbruch;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3376281840;display_name=Reeperbahn;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=3;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3376301006;display_name=Reinbek;valign=Bottom;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3452417420;display_name=Richtweg;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=667460998;display_name=Rissen;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=255882724;display_name=Rothenburgsort;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3372056976;display_name=Rübenkamp (City Nord);valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=34386184;display_name=Rödingsmarkt;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=270862967;display_name=Saarlandstraße;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=224890157;display_name=Schnelsen;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4053198954;display_name=Sparrieshoop;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=0;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3730417169;display_name=Sprötze;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=250667353;display_name=Stelle;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=3;offsety=-2;dotsize=3;english=False;hidename=False;rotation=0
Station.id=3357984511;display_name=Stellingen;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3811181517;display_name=Suerhop;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=272111255;display_name=Tanneneck;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-3;offsety=-3;dotsize=2;english=False;hidename=False;rotation=0
Station.id=1617961007;display_name=Thesdorf;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=248345538;display_name=Tiefstack;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3664727610;display_name=Tornesch;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;hidename=False;rotation=0
Station.id=914764972;display_name=Tostedt, Westbahnhof;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=271921477;display_name=Ulzburg Süd;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=3;english=False;hidename=False;rotation=0
Station.id=4010276983;display_name=Umschlagbahnhof Hamburg-Billwerder;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=248771282;display_name=Voßloch;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=1;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=2882508202;display_name=Wandsbeker Chaussee;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3070913593;display_name=Wellingsbüttel;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=1;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3593612273;display_name=Winsen;valign=Center;halign=Left;visible=True;bold=False;outline=True;offsetx=0;offsety=3;dotsize=3;english=False;hidename=False;rotation=0
Station.id=3581357627;display_name=Winsen Nord;valign=Bottom;halign=Right;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3980151235;display_name=Winsen Süd;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3248862044;display_name=Wulfsen Nord;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=26600620;display_name=Othmarschen;valign=Top;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=-1;dotsize=2;english=False;hidename=False;rotation=1
Station.id=33070435;display_name=Barmbek;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=52144713;display_name=Landungsbrücken;valign=Bottom;halign=Center;visible=False;bold=False;outline=False;offsetx=0;offsety=1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=224889147;display_name=Burgwedel;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=295998494;display_name=Elbgaustraße;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=4;dotsize=3;english=False;hidename=False;rotation=0
Station.id=300242481;display_name=Stadthausbrücke;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=976776639;display_name=Pinneberg;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=1241952231;display_name=Wedel;valign=Bottom;halign=Center;visible=True;bold=False;outline=False;offsetx=0;offsety=1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=1680910488;display_name=Hamburg Hbf;valign=Top;halign=Right;visible=True;bold=True;outline=True;offsetx=-3;offsety=-5;dotsize=4;english=False;hidename=False;rotation=0
Station.id=1894315329;display_name=Wohltorf;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=4;dotsize=3;english=False;hidename=False;rotation=0
Station.id=2459919677;display_name=Hamburg Hauptbahnhof;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=2470903095;display_name=Berliner Tor;valign=Center;halign=Right;visible=True;bold=False;outline=True;offsetx=6;offsety=0;dotsize=3;english=False;hidename=False;rotation=0
Station.id=3068973927;display_name=Landwehr;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3070913592;display_name=Poppenbüttel;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3129651718;display_name=Sternschanze;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=-17;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3135325888;display_name=Neugraben;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3137287937;display_name=Aumühle;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3183841635;display_name=Altona;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=-3;offsety=0;dotsize=4;english=False;hidename=False;rotation=0
Station.id=3357946758;display_name=Hamburg-Altona;valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3372056972;display_name=Alte Wöhr;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3372056975;display_name=Ohlsdorf;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3372145519;display_name=Klein Flottbek (Botanischer Garten);valign=Top;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3372147544;display_name=Sülldorf;valign=Top;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3372168828;display_name=Wilhelmsburg;valign=Center;halign=Right;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=3376270539;display_name=Buxtehude;valign=Top;halign=Right;visible=True;bold=False;outline=True;offsetx=2;offsety=-1;dotsize=3;english=False;hidename=False;rotation=0
Station.id=3377293658;display_name=Eidelstedt;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=2;dotsize=3;english=False;hidename=False;rotation=0
Station.id=3707303127;display_name=Harburg Rathaus;valign=Center;halign=Left;visible=True;bold=False;outline=False;offsetx=0;offsety=2;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4010276891;display_name=Bergedorf;valign=Center;halign=Right;visible=False;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4127523989;display_name=Blankenese;valign=Top;halign=Left;visible=True;bold=False;outline=False;offsetx=2;offsety=0;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4128824965;display_name=Hasselbrook;valign=Top;halign=Left;visible=False;bold=False;outline=False;offsetx=5;offsety=-1;dotsize=2;english=False;hidename=False;rotation=0
Station.id=4129931556;display_name=Flughafen;valign=Top;halign=Center;visible=True;bold=True;outline=False;offsetx=0;offsety=-4;dotsize=3;english=False;hidename=False;rotation=0
